<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addrooms.css">
    <title>Document</title>
</head>

<body>

    <div class="main">


        <main class="form-container">
            <div class="form">
                <form action="/push-room" method="post" class="add-rooms">

                    <div class="rooms">
                        <label for="roomType">Select Room Type...</label>

                        <select name="roomType">
                           
                                <option name="rs" value="<%= Category.roomType%>">
                                    <%= Category.roomType%>
                                </option>
                               
                        </select>
                        <input type="text" name="roomNum" id="" placeholder="roomNum" required>
                        <input type="number" name="price" placeholder="Price per Night" id="" required>
                        <input type="number" name="capacity" placeholder="total capacity" required>
                        <input type="number" name="gst" placeholder="gst in %" required>
                        <!-- <textarea name="desc" id="" cols="30" rows="10"></textarea> -->
                        <input type="submit" id="btn" value="add">
                    </div>


                </form>
            </div>

            <div class="room-table">
                <table>
                    <tr>
                        <th>Room No</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Capacity</th>
                        <th>GST</th>
                        <th>Occupied</th>
                        <th></th>
                    </tr>
                    <% for(let room of rooms) {%>
                        <tr>
                            <td><%= room.roomNum %></td>
                            <td><%= room.roomType %></td>
                            <td><%= room.price %></td>
                            <td><%= room.capacity %></td>
                            <td><%= room.gst %></td>
                            <td><%= room.occupied %></td>
                            <td><a href="/del/room/<%= room._id %>"><i class="fa-solid fa-trash"></i></a></td>
                        </tr>
                    <% } %>
                </table>

                
                  
                  <!-- Pagination controls -->
                  
                  <div class="pagination">
                    <ul>
                      <% if (totalPages <= 2) { %>
                        <% for (let i = 1; i <= totalPages; i++) { %>
                          <li>
                            <a href="/addrooms-cat/<%=roomTypeId%>?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>">
                              <%= i %>
                            </a>
                          </li>
                        <% } %>
                      <% } else { %>
                        <li>
                          <a href="/addrooms-cat/<%=roomTypeId%>?page=1" class="">
                            1
                          </a>
                        </li>
                        
                  
                        <% if (currentPage <= 5) { %>
                          <% for (let i = 2; i <= 9; i++) { %>
                            <li>
                              <a href="/addrooms-cat/<%=roomTypeId%>?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>">
                                <%= i %>
                              </a>
                            </li>
                          <% } %>
                          <li><span>...</span></li>
                          <li>
                            <a href="/addrooms-cat/<%=roomTypeId%>?page=<%= totalPages %>" class="">
                              <%= totalPages %>
                            </a>
                          </li>
                        <% } else if (currentPage >= totalPages - 4) { %>
                          <li>
                            <a href="/addrooms-cat/<%=roomTypeId%>?page=2" class="">
                              2
                            </a>
                          </li>
                          <li><span>...</span></li>
                  
                          <% for (let i = totalPages - 8; i <= totalPages; i++) { %>
                            <li>
                              <a href="/addrooms-cat/<%=roomTypeId%>?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>">
                                <%= i %>
                              </a>
                            </li>
                          <% } %>
                        <% } else { %>
                          <li>
                            <a href="/addrooms-cat/<%=roomTypeId%>?page=2" class="">
                              2
                            </a>
                          </li>
                          <li><span>...</span></li>
                  
                          <% for (let i = currentPage - 3; i <= currentPage + 3; i++) { %>
                            <li>
                              <a href="/addrooms-cat/<%=roomTypeId%>?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>">
                                <%= i %>
                              </a>
                            </li>
                          <% } %>
                  
                          <li><span>...</span></li>
                          <li>
                            <a href="/addrooms-cat/<%=roomTypeId%>?page=<%= totalPages %>" class="">
                              <%= totalPages %>
                            </a>
                          </li>
                        <% } %>
                      <% } %>
                    </ul>
                  </div>
                  
                  
            </div>
            
    </div>
    </div>
    </main>

</body>

</html>