<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f324db610c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/f324db610c.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bookings.css">

</head>

    <h2 class="heading">All Bookings</h2>


<body>

    <div class="main">
        <div class="bookings">
            <% for(let i = bookings.length - 1; i >= 0; i--) { %>
                <% const guest = bookings[i]; %>
                <div class="guest">
                    <div class="guest-data">
                        <p>Guest Name: <%= guest.guestName %></p>
                        <p>CheckIn: <%= guest.checkIn %> | <%= guest.checkInTime %></p>
                        <p>Room No.: <%= guest.roomNum %></p>
                        <p>Booking ID: <%= guest.bookingId %></p>
                        <p>Status: <%= guest.status %></p>
                    </div>
                    <div class="action invoice-btn" i>
                        <!-- <a href="/edit/<%= guest._id %>">Details</a> -->
                        <a href="/get/invoices/<%= guest._id %>">Invoice</a>
                    </div>
                </div>
            <% } %>
        </div>
        <div>
        </div>
    </div>
    
    </div>



</body>

</html>