<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f324db610c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/f324db610c.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bill.css">
    <style type="text/css" media="print">
        @page {
            size: auto; 
            margin: 0; /* Remove default margins */
        }
        body {
            margin: 0; /* Remove default body margins */
        }

        
    </style>
</head>

<body>
    <div class="main">
        <h1>Invoice...</h1>
        <div id="invoice" class="invoice">
            <div class="invoice-head" style="background-color: rgb(153, 151, 148);">
                <span>Invoice : <%=guest.bookingId %></span>
                <span>Date : <%=guest.checkOut%> </span>
            </div>
            <div class="bill-data">
                <div class="address from">
                    
                    <div class="data">
                        <span>From</span>
                        <span class="capital"><%=hotel.name%></span>
                        <span>GST : <%=hotel.gst%></span>
                        <span>Address : <%=hotel.address%></span>
                        <span>email : <%=hotel.email%></span>
                        <span>phone: <%=hotel.email%></span> 
                        <%if(hotel.gst){%>
                        <span>GST: <%=hotel.gst%></span>
                        <%}%>
                    </div>
                </div>
                <div class="address bill-to">
                    
                    <div class="data">
                        <span>To :</span>
                        <span class="capital" ><%=guest.guestName%></span>
                        <span><%=guest.business%></span>
                        <span><%=guest.address%></span>
                        <span><%=guest.gst%></span>
                    </div>
                </div>
            </div>
            <div class="dates" style="background-color: rgb(153, 151, 148);">
                <span>
                   CheckIn : <%=guest.checkIn%>
                </span>
                <span> CheckOut <%=guest.checkOut%></span>
            </div>

            <div class="calculation">
                <table>
                    <tr>
                        <th> Room No. </th>
                        <td> <%=invoice.roomNum%></td>

                    </tr>
                    <tr>
                        <th>Price (per night)</th>
                        <td><%= invoice.rent %></td>

                    </tr>
                    <tr>
                        <th>No. of Days</th>
                        <td><%=invoice.stay%></td>

                    </tr>
                    <tr>
                        <th>Discount</th>
                        <td><%=invoice.discount%></td>

                    </tr>
                    <tr>
                        <th>Service Charge</th>
                        <td><%=invoice.serviceCharge%></td>

                    </tr>
                    <tr>
                        <th>GST</th>
                        <td><%=invoice.gst%> ( <%=room.gst%>% ) </td> 

                    </tr>
                    <tr>
                        <th>Total</th>
                        <td><%=invoice.net%></td>

                    </tr>
                      
                </table>
            </div>
        </div>
    </div>
    <div class="button">

        <button id="printButton">Print Invoice</button>
        <!-- <a target="_blank" href="/print/bill/<%=guest._id%>">Print</a> -->
    </div>
    <script>
        document.getElementById('printButton').addEventListener('click', function () {
            // Get the content of the 'invoice' div
            const invoiceContent = document.querySelector('.invoice').outerHTML;

            // Create a new window or tab
            const printWindow = window.open('', '', 'width=800,height=600'); // Adjust the width as needed for better A4 layout

            // Write the content to the new window/tab
            printWindow.document.open();
            printWindow.document.write('<html><head><title>Print Invoice</title><link rel="stylesheet" href="/css/bill.css"></head><body>');
            printWindow.document.write(invoiceContent);
            printWindow.document.write('</body></html>');
            printWindow.document.close();

            // Wait for the content to load, then initiate the print
            printWindow.onload = function () {
                printWindow.print();
                printWindow.close();
            };
        });
    </script>

</body>

</html>